#cart-outer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0 5% 0 5%;
}

#cart-header {
    display: flex;
    justify-content: space-between;
    margin: 25px 0 0 0;
    width: 86%;
}

#cart-body {
    display: flex;
    justify-content: space-between;
    width:90%;
}

#keep-shopping-button{
    font-size: 16px;
    height: 35px;
}

#cart-body-left {
    display: flex;
    flex-direction: column;
    width: 50%;
}

#cart-item-list {
    width: 100%;
    min-width: 100%;
}