.item-card.small {
    width: 25%;
    text-decoration: none;
    font-size: 12px;
    color: black;
    margin: 10px 0 10px 0;
}

.item-card:hover {
    text-decoration: underline;
    cursor: pointer;
}


.item-card:hover .card-image{
    transform: scale(1.01, 1.01);
}