
h1 {
    width: 100%;
}
#splash-top {
    font-size: 1.2em;
    display: flex;
    width: 100%;
    height: 236px;
    flex-wrap: wrap;
    justify-content: center;
    z-index: 0;
    font-family: 'Calibri light';
    padding-top: 10px;
    gap: 10px 6%;
    background-color: #ffecd2;
}


#splash-middle {
    display: grid;
    grid-template-areas:
        'item-1 item-3 item-5 item-7 item-9'
        'item-2 item-4  item-6 item-8 item-10';
    gap: 18px;
    /* padding: 80px 11vw 0px 12vw; */
    padding-top: 80px;
}


@media (max-width: 1024px){
    #splash-middle {
        display: grid;
        grid-template-areas:
            'item-1 item-5'
            'item-2 item-6'
            'item-3 item-7'
            'item-4 item-8';
        /* gap: 20px; */
    }

    #splash-middle .product-card {
        width: 75%;
    }

    .badge-link:last-child {
        display: none
    }
}

@media (max-width: 720px){
    #splash-middle {
        display: grid;
        grid-template-areas:
            'item-1 item-5'
            'item-2 item-6'
            'item-3 item-7'
            'item-4 item-8';
        /* gap: 20px; */
    }

    #splash-middle .product-card {
        width: 65%;
    }

    .badge-link:last-child, .badge-link:nth-child(2) {
        display: none
    }
}