.circular-badge {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 50px;
    position: relative;
    transition: 0.2s;
}

.name {
    color: black;
    font-size: 0.6em;
    font-weight: bold;
}

a:has(.circular-badge:hover){
    border-bottom: 2px solid black;
}

.circular-badge:hover {
    color:black;
    transform: scale(1.05, 1.05);
}

.circular-badge img {
    border-radius: 125px;
    height: 90px;
    width: 90px;
}

