.circular-badge {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 50px;
    transition: 0.2s;
}

a.badge-link {
    position: relative;
    bottom: -80px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(110px + 1em);
    padding-bottom: 4px;
    border-bottom: 2px solid transparent;
}
.name {
    color: black;
    font-size: 0.6em;
    font-weight: bold;
}

a.badge-link:hover{
    border-bottom: 2px solid black;
}

.circular-badge:hover {
    color:black;
    transform: scale(1.05, 1.05);
}

.circular-badge img {
    border-radius: 125px;
    height: 110px;
    width: 110px;
    transition: 0.2s;
}

.circular-badge:hover img {
    box-shadow: 0 0 10px #00000060
}

