#cart-button {
    margin-left: 10px;
    font-size: 1.1em;
    height: 45px;
    padding: 10px 11px 10px 10px;
}

#cart-button-container {
    display: flex;
    align-items: center;
    color: black;
}

#card-button-containter:hover{
    font-weight: bold;
}

#cart-count {
    position: relative;
    left: -17px;
    top: -12px;
    font-size: 0.75em;
    font-weight: bold;
    background-color:   #ffc0a3;
    border-radius: 50%;
    padding: 3px 5px 2px 5px;
}

.hidden {
    visibility: hidden;
}

@media (max-width: 1200px) {
    #cart-count {
        display: none
    }
}  

@media (max-width: 1400px){
    #cart-count {
        font-size: smaller;
    }
}