.nav-category {
    box-sizing: border-box;
    padding: 2px 10px 8px 10px;
    min-width: 100px;
    max-width: 12.5%;
    font-size: 13px;
    line-height: 18px;
    border-bottom: 2px solid transparent;
    user-select: none;
}

.nav-category:hover {
    border-bottom: 2px solid black;
}