.navigation {
    display: flex;
    flex-direction: column;  
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0 5vw;
    box-shadow: 0 0 1px 2px #00000010;
    z-index: 1;
}

.navrow{
    width: 95%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


div.navrow.categories {
    padding-top: 10px;
    position: relative;
    /* border: 1px solid red; */
}

.navigation::after {
    display: block;
    position: absolute;
    top: 50%;
    width: 100%;
    height: 100px;
    background-color: red;
}



.logo {
    max-width: 90px;
    margin-right: 15px;
}