.test-button {
    width: 200px;
    height: 50px;
    background-color: white;
}

.test-button::after{
    position: absolute;
    width: 200px;
    height: 30px;
    background-color: green;
    z-index: 2;
}