.footer-container {
    display: flex;
    padding: 20px 5% 10px 5%;
    justify-content: space-between;
    font-size: 0.85em;
    margin-top: 50px;
    line-height: 2em;
}

.footer-container h3 {
    font-size: 1.2em;
    font-weight: bold;
}
.footer-container a {
    text-decoration: underline;
}

.footer-column {
    width: 50%
}

.footer-column.right {
    text-align: left;
    width: 30%;
}

.footer-column.middle {
    text-align: left;
    padding-left: 10%;
    width: 30%;
}

.middle a {
    height: 50px;
}

.middle ul {
    position: relative;
    /* left: 15px; */
    list-style: square inside;
}

.middle li {
    width: fit-content;
}