.product-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    font-size: 70%;
    transition: all 0.2s;
    color: black;
    width: 100%;
    overflow: hidden;
}

.product-card:hover {
    transform: scale(1.02, 1.02);
}

.product-image-container {
    box-sizing: border-box;
}

.product-image-container img {
    max-width: 100%;
    border-radius: 16px;
    transition: 0.3s;
}

.product-image-container:hover img {
    max-width: 100%;
    box-shadow: 0 0 6px 6px #00000030;
}


.item-detail {
    text-align: left;
}

.item-detail.name {
    display: flex;
    position: absolute;
    visibility: hidden;
    top: 10px;
    justify-content: space-between;
    min-width: calc(100% - 1px);
    box-sizing: border-box;
    padding: 5px 10px 5px 10px;
    transform: translateY(150%);
    color: #ffffffee;
    /* border-radius: 8px; */
}

.item-detail.price {
    position: absolute;
    border-radius: 20px;
    background-color: #ffffff;
    color: black;
    bottom: 20px;
    left: 15px;
    font-size: 0.85em;
    padding: 5px 10px;
    opacity: 80%;
    box-shadow: 0 0 6px 3px #ffffffa0;
}


.product-card:hover .follow-button{
    visibility: visible;
    transform: translateY(0%);
    animation: details 0.3s ease-in;
    /* background-color: #22222299; */
    font-weight: bold;
}

.product-card .follow-button{
    position: absolute;
    transform: translateY(-250%);
    box-sizing: border-box;
    height: auto;
    width: auto;
    top: 15px;
    right: 15px;
    padding: 5px;
    opacity: 45%;
    box-shadow: 0 0 4px 1px #ffffffa0;
    transition: 0.4s;
    z-index: 2;
}

.product-card:hover .follow-button, .product-card:hover .price{
    opacity: 90%;
    transition: 0.2s
}

.follow-button:hover {
    transform: scale(1.05, 1.05);
    box-shadow: 0 0 7px 2px #ffffffa0;
}



@keyframes details {
    0% {
        transform: translateY(150%);
        opacity: 0;
        background-color: transparent;
    }
    70% {
        transform: translateY(100%);
        opacity: 0%;
    }
    85% {
        transform: translateY(30%);
        opacity: 50%;
    }
    100% {
        transform: translateY(0%);
        opacity: 100%;
    }
}