.App {
  text-align: center;
  font-family: Arial, Georgia;
}

a {
  text-decoration: none;
}

.App-header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  background-color: #ffffff;
  box-shadow: 0 1px 3px #aaaaaabb;
}

.App-body {
  width: 100vw;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-size: 24px;
  color: black;
  background-color: #ffece4;
}

button.white {
  border-radius: 25px;
  background: white;
  color: black;
  font-size: 12px;
  padding: 0px 15px 0px 15px;
  height: 25px;
  transition: 0.2s;
  cursor: pointer;
  border: none;
}

button.black {
  border-radius: 25px;
  background: black;
  color: white;
  font-size: 12px;
  padding: 0px 15px 0px 15px;
  height: 25px;
  transition: 0.2s;
  cursor: pointer;
  border: none;
}

button.white:hover {
  background: #eeeeee
}

button.black:hover {
  background: #333333;
}
