#cart-button {
    margin-left: 10px;
    font-size: 1.1em;
    height: 45px;
    padding: 10px 11px 10px 10px;
}

#cart-button-container {
    position: relative;
    display: flex;
    align-items: center;
    right: 1.5vw;
    color: black;
}

#card-button-containter:hover{
    font-weight: bold;
}


@media (max-width: 1200px) {
    #cart-count {
        display: none
    }
}  

@media (max-width: 1400px){
    #cart-count {
        font-size: smaller;
    }
}