span:has(.nav-dropdown-content):hover .nav-dropdown-content{
    display: flex;
    flex-wrap: wrap;
    z-index: 1;
    border-radius: 0 0 8px 8px;
    box-shadow: 0 1px ;
    box-shadow: 0 3px 6px 1px #00000030;
}

.nav-dropdown-container {
    position: absolute;
    top: calc(100% + 2px);
    width: 100%;
    z-index: 1;
}

.nav-dropdown-content {
    display: none;
    position: fixed;
    left: 10vw;
    right: 10vw;
    background: white;
    
}